.idea
.vscode

# Filetypes
**/*.txt
**/*.pyc
**/__pycache___
**/*.pdf
**/*.png
**/*.sh
**/*.a3m
**/*.npz
**/*.npy
**/*.pt
**/*.pdb
**/*.faa
**/*.pkl
**/*.csv
**/*.tsv
**/*.fasta
**/*.out
**/*.mat

models/
evcouplings/
outputs/
data/raw/pdbs
wandb/
results/
multirun/
exploration/
scripts/evcoupings_config.py


!data/raw/DMS_substitutions.csv
!data/interim/blosum62.npy

!data/processed/ProteinGym_substitutions_DMS/BLAT_ECOLX_Stiffler_2015.csv
!data/processed/proteingym_cv_folds_singles_substitutions/BLAT_ECOLX_Stiffler_2015.csv
!data/conditional_probs/BLAT_ECOLX/**
