.idea
.vscode

# Filetypes
**/*.txt
**/*.pyc
**/__pycache___
**/*.pdf
**/*.png
**/*.a3m
**/*.a2m
**/*.npz
**/*.npy
**/*.pt
**/*.pdb
**/*.faa
**/*.pkl
**/*.tsv
**/*.fasta
**/*.out
**/*.mat
**/*.zip
**/*.log
**/*.h5

# Exclude full datasets
data/processed/proteingym_cv_folds_singles_substitutions/*.csv
data/processed/proteingym_cv_folds_multiples_substitutions/*.csv
data/processed/ProteinGym_substitutions_DMS/*.csv

# Exlude results
results/ProteinGym/per_dataset
results/ProteinGym_baselines/zero_shot_substitution_scores/*

# Keep select zero shot scores
!results/ProteinGym_baselines/zero_shot_substitution_scores/ESM_IF1
results/ProteinGym_baselines/zero_shot_substitution_scores/ESM_IF1/*
!results/ProteinGym_baselines/zero_shot_substitution_scores/ProteinMPNN
results/ProteinGym_baselines/zero_shot_substitution_scores/ProteinMPNN/*
!results/ProteinGym_baselines/zero_shot_substitution_scores/TranceptEVE
results/ProteinGym_baselines/zero_shot_substitution_scores/TranceptEVE/*
!results/ProteinGym_baselines/zero_shot_substitution_scores/TranceptEVE/TranceptEVE_L
results/ProteinGym_baselines/zero_shot_substitution_scores/TranceptEVE/TranceptEVE_L/*

# Bash scripts (except example script)
scripts/*
!scripts/example.sh


# Directories
models/
evcouplings/
outputs/
data/raw/pdbs
wandb/
results/split
results/regression
multirun/
exploration/

# Single file
scripts/evcoupings_config.py


# KEEP
!data/processed/DMS_substitutions.csv
!data/interim/DMS_substitutions_reduced_UniProt_ID.csv
!data/processed/DMS_substitutions_reduced.csv
!data/interim/blosum62.npy

# KEEP SELECT DATASETS
!data/processed/ProteinGym_substitutions_DMS/BLAT_ECOLX_Stiffler_2015.csv
!data/processed/proteingym_cv_folds_singles_substitutions/BLAT_ECOLX_Stiffler_2015.csv
!results/ProteinGym_baselines/zero_shot_substitution_scores/ESM_IF1/BLAT_ECOLX_Stiffler_2015.csv
!results/ProteinGym_baselines/zero_shot_substitution_scores/TranceptEVE/TranceptEVE_L/BLAT_ECOLX_Stiffler_2015.csv
!data/conditional_probs/BLAT_ECOLX/**

!data/processed/ProteinGym_substitutions_DMS/A0A1I9GEU1_NEIME_Kennouche_2019.csv
!data/processed/proteingym_cv_folds_singles_substitutions/A0A1I9GEU1_NEIME_Kennouche_2019.csv
!data/processed/proteingym_cv_folds_multiples_substitutions/A0A1I9GEU1_NEIME_Kennouche_2019.csv
!results/ProteinGym_baselines/zero_shot_substitution_scores/ESM_IF1/A0A1I9GEU1_NEIME_Kennouche_2019.csv
!results/ProteinGym_baselines/zero_shot_substitution_scores/TranceptEVE/TranceptEVE_L/A0A1I9GEU1_NEIME_Kennouche_2019.csv
!data/conditional_probs/A0A1I9GEU1_NEIME/**

!data/processed/ProteinGym_substitutions_DMS/NPC1_HUMAN_Erwood_2022_RPE1.csv
!data/processed/proteingym_cv_folds_singles_substitutions/NPC1_HUMAN_Erwood_2022_RPE1.csv
!data/processed/proteingym_cv_folds_multiples_substitutions/NPC1_HUMAN_Erwood_2022_RPE1.csv
!results/ProteinGym_baselines/zero_shot_substitution_scores/ESM_IF1/NPC1_HUMAN_Erwood_2022_RPE1.csv
!results/ProteinGym_baselines/zero_shot_substitution_scores/TranceptEVE/TranceptEVE_L/NPC1_HUMAN_Erwood_2022_RPE1.csv
!data/conditional_probs/NPC1_HUMAN/**

!data/processed/ProteinGym_substitutions_DMS/R1AB_SARS2_Flynn_2022.csv
!data/processed/proteingym_cv_folds_singles_substitutions/R1AB_SARS2_Flynn_2022.csv
!data/processed/proteingym_cv_folds_multiples_substitutions/R1AB_SARS2_Flynn_2022.csv
!results/ProteinGym_baselines/zero_shot_substitution_scores/ESM_IF1/R1AB_SARS2_Flynn_2022.csv
!results/ProteinGym_baselines/zero_shot_substitution_scores/TranceptEVE/TranceptEVE_L/R1AB_SARS2_Flynn_2022.csv
!data/conditional_probs/R1AB_SARS2/**

!data/processed/ProteinGym_substitutions_DMS/TCRG1_MOUSE_Rocklin_2023_1E0L.csv
!data/processed/proteingym_cv_folds_singles_substitutions/TCRG1_MOUSE_Rocklin_2023_1E0L.csv
!data/processed/proteingym_cv_folds_multiples_substitutions/TCRG1_MOUSE_Rocklin_2023_1E0L.csv
!results/ProteinGym_baselines/zero_shot_substitution_scores/ESM_IF1/TCRG1_MOUSE_Tsuboyama_2023_1E0L.csv
!results/ProteinGym_baselines/zero_shot_substitution_scores/TranceptEVE/TranceptEVE_L/TCRG1_MOUSE_Tsuboyama_2023_1E0L.csv
!data/conditional_probs/TCRG1_MOUSE/**

!data/processed/ProteinGym_substitutions_DMS/DNJA1_HUMAN_Rocklin_2023_2LO1.csv
!data/processed/proteingym_cv_folds_singles_substitutions/DNJA1_HUMAN_Rocklin_2023_2LO1.csv
!data/processed/proteingym_cv_folds_multiples_substitutions/DNJA1_HUMAN_Rocklin_2023_2LO1.csv
!results/ProteinGym_baselines/zero_shot_substitution_scores/ESM_IF1/DNJA1_HUMAN_Tsuboyama_2023_2LO1.csv
!results/ProteinGym_baselines/zero_shot_substitution_scores/TranceptEVE/TranceptEVE_L/DNJA1_HUMAN_Tsuboyama_2023_2LO1.csv
!data/conditional_probs/DNJA1_HUMAN/**

!data/processed/ProteinGym_substitutions_DMS/EPHB2_HUMAN_Rocklin_2023_1F0M.csv
!data/processed/proteingym_cv_folds_singles_substitutions/EPHB2_HUMAN_Rocklin_2023_1F0M.csv
!data/processed/proteingym_cv_folds_multiples_substitutions/EPHB2_HUMAN_Rocklin_2023_1F0M.csv
!results/ProteinGym_baselines/zero_shot_substitution_scores/ESM_IF1/EPHB2_HUMAN_Tsuboyama_2023_1F0M.csv
!results/ProteinGym_baselines/zero_shot_substitution_scores/TranceptEVE/TranceptEVE_L/EPHB2_HUMAN_Tsuboyama_2023_1F0M.csv
!data/conditional_probs/EPHB2_HUMAN/**


!data/processed/ProteinGym_substitutions_DMS/GFP_AEQVI_Sarkisyan_2016.csv
!data/processed/proteingym_cv_folds_singles_substitutions/GFP_AEQVI_Sarkisyan_2016.csv
!data/processed/proteingym_cv_folds_multiples_substitutions/GFP_AEQVI_Sarkisyan_2016.csv
!results/ProteinGym_baselines/zero_shot_substitution_scores/ESM_IF1/GFP_AEQVI_Sarkisyan_2016.csv
!results/ProteinGym_baselines/zero_shot_substitution_scores/TranceptEVE/TranceptEVE_L/GFP_AEQVI_Sarkisyan_2016.csv
!data/conditional_probs/GFP_AEQVI/**

!data/processed/ProteinGym_substitutions_DMS/AMFR_HUMAN_Rocklin_2023_4G3O.csv
!data/processed/proteingym_cv_folds_singles_substitutions/AMFR_HUMAN_Rocklin_2023_4G3O.csv
!data/processed/proteingym_cv_folds_multiples_substitutions/AMFR_HUMAN_Rocklin_2023_4G3O.csv
!results/ProteinGym_baselines/zero_shot_substitution_scores/ESM_IF1/AMFR_HUMAN_Rocklin_2023_4G3O.csv
!results/ProteinGym_baselines/zero_shot_substitution_scores/TranceptEVE/TranceptEVE_L/AMFR_HUMAN_Rocklin_2023_4G3O.csv
!data/conditional_probs/AMFR_HUMAN/**

!data/processed/ProteinGym_substitutions_DMS/BBC1_YEAST_Rocklin_2023_1TG0.csv
!data/processed/proteingym_cv_folds_singles_substitutions/BBC1_YEAST_Rocklin_2023_1TG0.csv
!data/processed/proteingym_cv_folds_multiples_substitutions/BBC1_YEAST_Rocklin_2023_1TG0.csv
!results/ProteinGym_baselines/zero_shot_substitution_scores/ESM_IF1/BBC1_YEAST_Rocklin_2023_1TG0.csv
!results/ProteinGym_baselines/zero_shot_substitution_scores/TranceptEVE/TranceptEVE_L/BBC1_YEAST_Rocklin_2023_1TG0.csv
!data/conditional_probs/BBC1_YEAST/**

!data/processed/ProteinGym_substitutions_DMS/BCHB_CHLTE_Rocklin_2023_2KRU.csv
!data/processed/proteingym_cv_folds_singles_substitutions/BCHB_CHLTE_Rocklin_2023_2KRU.csv
!data/processed/proteingym_cv_folds_multiples_substitutions/BCHB_CHLTE_Rocklin_2023_2KRU.csv
!results/ProteinGym_baselines/zero_shot_substitution_scores/ESM_IF1/BCHB_CHLTE_Rocklin_2023_2KRU.csv
!results/ProteinGym_baselines/zero_shot_substitution_scores/TranceptEVE/TranceptEVE_L/BCHB_CHLTE_Rocklin_2023_2KRU.csv
!data/conditional_probs/BCHB_CHLTE/**


!data/processed/ProteinGym_substitutions_DMS/CSN4_MOUSE_Rocklin_2023_1UFM.csv
!data/processed/proteingym_cv_folds_singles_substitutions/CSN4_MOUSE_Rocklin_2023_1UFM.csv
!data/processed/proteingym_cv_folds_multiples_substitutions/CSN4_MOUSE_Rocklin_2023_1UFM.csv
!results/ProteinGym_baselines/zero_shot_substitution_scores/ESM_IF1/CSN4_MOUSE_Rocklin_2023_1UFM.csv
!results/ProteinGym_baselines/zero_shot_substitution_scores/TranceptEVE/TranceptEVE_L/CSN4_MOUSE_Rocklin_2023_1UFM.csv
!data/conditional_probs/CSN4_MOUSE/**

